
* {

        margin: 0;
        padding: 0;
        box-sizing: border-box;
}

body {
        scroll-behavior: smooth;
        font-family: 'Montserrat', sans-serif;
	overflow-x: hidden;
}
.s-1{
	width: 100vw;
    }
/* =================================== */
/* NAVBAR STARTS */
/* =================================== */

header{
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: 7vw;
	transition: 0.5s;
	z-index: 10000;
    }
    
    
    
    header.sticky{
	height: 5vw; 
	background-color: white;
	/* backdrop-filter: blur(10px); */
    }
    
    .logo{
	display: flex;
	text-decoration: none;
	color: white;
	font-weight: bold;
	font-size: 1.3em;
	margin: 10px 10px 10px 20px;
	transition: 0.5s;
    }
    
    .nav{
	display: flex;
	width: 40%;
	margin: 10px;
    }
    #nav-list{
	display: flex;
	width: 100%;
	justify-content: space-around;
    }
    
    #nav-list li{
	list-style-type: none;
    }
    #nav-list a{
	text-decoration: none;
	color: white;
	font-weight: bold;
	transition: 0.5s;
    }
    #nav-list a:hover{
	color: #185ADB;
    }
    
    
    header.sticky #nav-list li a{
	font-size: 0.9em;
	color: black;
    }
    header.sticky #nav-list li a:hover{
	color: #185ADB;
    }
    header.sticky .logo{
	color: black;
    }
    
    
    /* =================================== */
    /* NAVBAR ENDS */
    /* =================================== */
    
    /* =================================== */
    /* HERO SECTION STARTS */
    /* =================================== */
.banner-area {
        
        position: relative;
        height: 480px;
        overflow: hidden;
        background: url(banner.jpg) no-repeat center;
        background-size: cover;
}
/*banner Area*/
.container {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        overflow: hidden;
        color: white;
        text-align: center;
        font-weight: 700;       
}
.container h1 {
        margin: 0;
        font-size: 3.2rem;
        letter-spacing: 0.2;
}

.new {
        margin:  20px ;
        display: block;
        font-size: 26px;
        text-shadow: 0 0 10px black ;
}
@media (max-width:786px) {
        .container h1 {
                margin: 0;
                font-size: 2rem;
                padding:4px  ;
                letter-spacing: 0.2;
        }
        .container h2 {
                margin: 0;
                font-size: 1.5rem;
                letter-spacing: 0.2;
        }
        
        
}

/*content area*/

.tiles h1 {
        text-align: center;
}



.tiles {
        margin: 40px;
}

.row{
	width: 100%;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.image{
	border-radius: 1px;
	background: #50A7FF;
	position: relative;
	flex: 1;
	max-width: 400px;
	height: 400px;
	margin: 20px;
	overflow: hidden;
	box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3);
}

.image img{
	opacity: 0.8;
	position: relative;
	vertical-align: top;
	transition: 0.6s;
	transition-property: opacity;
}

.image:hover img{
	opacity: 1;
}

.image .details{
	z-index: 1;
	position: absolute;
	top: 0;
	right: 0;
	color: #fff;
	width: 100%;
	height: 100%;
}

.image .details h2{
	text-align: center;
	font-size: 35px;
	text-transform: uppercase;
	font-weight: normal;
	margin-top: 70px;
	transition: 0.4s;
	transition-property: transform;
}

.image .details h2 span{
	font-weight: 900;
}

.image:hover .details h2{
	transform: translateY(-30px);
}

.image .details p{
	margin: 30px 30px 0 30px;
	font-size: 18px;
	font-weight: normal;
	text-align: center;
	opacity: 0;
	transition: 0.6s;
	transition-property: opacity, transform;
}

.image:hover .details p{
	opacity: 1;
	transform: translateY(-40px);
}

@media (max-width: 1080px){
	.image{
		flex: 100%;
		max-width: 400px;
	}
}

@media (max-width: 400px){
	.image .details p{
		font-size: 16px;
	}
}
 /*Tour*/

 .tour h1,h2 {
	 padding-left: 30px;
	 padding-right: 30px;
	 align-items: center;
	 text-align: center;
 }

 .tour h1 {
	 padding-top: 40px;
	 font-size: 35px;
 }

 .tour h2 {
	 padding-top: 5px;
	 font-size: 25px;
	 font-weight: 500;
 }
 .grid {
	 padding: 0px 200px;
	margin: 50px;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 20px;
	align-items: stretch;
	}
      
      .grid > article {
	border: 1px solid #ccc;
	box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3);
	border-radius: 1px;
	text-align: center;
      }
      
      .grid > article:hover{
	transition: transform .1s ease-out;
	transform: translateY(5px);
      }
      
      .grid > article img {
	width: 100%;
      }
      
      
      .text {
	padding: 0 20px 20px;
      }
      
      .text > h3{
	text-transform: uppercase;
      }
      
      .text > button {
	background: linear-gradient(to right,  #181818,#1e1e20, #1e1e20);
	border-radius: 1px;
	border: 0;
	color: white;
	padding: 10px;
	width: 100%;
	font-weight: 600;
	text-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3);
	text-transform: uppercase;
      }

      .grid img {
        width: 100%;
        transition: 0.2s ease-in-out;
}

.grid img:hover{
	opacity: 0.8;
}
      
      @media (max-width: 768px){
	.grid{
	  grid-template-columns: repeat(2, 1fr);
	  padding: 10px;
	  margin: 10px;
	}
      }
      
      @media (max-width: 500px){
	.grid{
	  grid-template-columns: repeat(1, 1fr);
	  margin: 0;
	}
      
	.grid > article{
	  text-align: center;
	}
      }

      
/*Feature section*/
.feature-area {
	position: relative;
        height: 180px;
        overflow: hidden;
	background: #1e1e20;
        background-size: cover;
}
.feature-area h2 {
	color: white;
	font-weight: 600 ;
	font-size: 35px;
	padding: 75px;
}
a {
	text-decoration: none;
}

@media (max-width:786px) {
	.feature-area h2 {
		padding-top: 20px;
		font-size: 20px ;
	}
	
}



/*pricing*/

.pricing h1,h2 {
	padding-left: 30px;
	padding-right: 30px;
	align-items: center;
	text-align: center;
}

.pricing h1 {
	padding-top: 40px;
	font-size: 35px;
}

.pricing h2 {
	padding-top: 5px;
	padding-bottom: 20px;
	font-size: 25px;
	font-weight: 500;
}

.pricingTable {
	margin: 40px auto;
      }
      

      .pricingTable-firstTable {
	list-style: none;
	padding-left: 2em;
	padding-right: 2em;
	text-align: center;
      }
      .pricingTable-firstTable_table {
	vertical-align: middle;
	width: 31%;
	background-color: #f0f0f0;
	display: inline-block;
	padding: 0px 30px 40px;
	text-align: center;
	max-width: 320px;
	transition: all 0.3s ease;
	box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3);
	border-radius: 1px;
      }
      @media screen and (max-width: 767px) {
	.pricingTable-firstTable_table {
	  display: block;
	  width: 90%;
	  margin: 0 auto;
	  max-width: 90%;
	  margin-bottom: 20px;
	  padding: 10px;
	  padding-left: 20px;
	}
      }
      @media screen and (max-width: 767px) {
	.pricingTable-firstTable_table > * {
	  display: inline-block;
	  vertical-align: middle;
	}
      }
      @media screen and (max-width: 480px) {
	.pricingTable-firstTable_table > * {
	  display: block;
	  float: none;
	}
      }
      @media screen and (max-width: 767px) {
	.pricingTable-firstTable_table:after {
	  display: table;
	  content: "";
	  clear: both;
	}
      }
      .pricingTable-firstTable_table:hover {
	transform: scale(1.08);
      }
      @media screen and (max-width: 767px) {
	.pricingTable-firstTable_table:hover {
	  transform: none;
	}
      }
      .pricingTable-firstTable_table:not(:last-of-type) {
	margin-right: 3.5%;
      }
      @media screen and (max-width: 767px) {
	.pricingTable-firstTable_table:not(:last-of-type) {
	  margin-right: auto;
	}
      }
      .pricingTable-firstTable_table:nth-of-type(2) {
	position: relative;
      }
      @media screen and (max-width: 767px) {
	.pricingTable-firstTable_table:nth-of-type(2) h1 {
	  padding-top: 8%;
	}
      }
      .pricingTable-firstTable_table:nth-of-type(2):before {
	content: "Most Popular";
	position: absolute;
	color: white;
	display: block;
	background-color: #185adb;
	text-align: center;
	right: 15px;
	top: -25px;
	height: 65px;
	width: 65px;
	border-radius: 50%;
	box-sizing: border-box;
	font-size: 0.5em;
	padding-top: 22px;
	text-transform: uppercase;
	letter-spacing: 0.13em;
	transition: all 0.5s ease;
      }
      @media screen and (max-width: 988px) {
	.pricingTable-firstTable_table:nth-of-type(2):before {
	  font-size: 0.6em;
	}
      }
      @media screen and (max-width: 767px) {
	.pricingTable-firstTable_table:nth-of-type(2):before {
	  left: 10px;
	  width: 45px;
	  height: 45px;
	  top: -10px;
	  padding-top: 13px;
	}
      }
      @media screen and (max-width: 480px) {
	.pricingTable-firstTable_table:nth-of-type(2):before {
	  font-size: 0.8em;
	}
      }
      .pricingTable-firstTable_table:nth-of-type(2):hover:before {
	transform: rotate(360deg);
      }
      .pricingTable-firstTable_table__header {
	font-size: 1.6em;
	padding: 40px 0px;
	border-bottom: 2px solid rgba(182, 182, 182, 0.333);
	letter-spacing: 0.03em;
      }
      @media screen and (max-width: 1068px) {
	.pricingTable-firstTable_table__header {
	  font-size: 1.45em;
	}
      }
      @media screen and (max-width: 767px) {
	.pricingTable-firstTable_table__header {
	  padding: 0px;
	  border-bottom: none;
	  float: left;
	  width: 33%;
	  padding-top: 3%;
	  padding-bottom: 2%;
	}
      }
      @media screen and (max-width: 610px) {
	.pricingTable-firstTable_table__header {
	  font-size: 1.3em;
	}
      }
      @media screen and (max-width: 480px) {
	.pricingTable-firstTable_table__header {
	  float: none;
	  width: 100%;
	  font-size: 1.8em;
	  margin-bottom: 5px;
	}
      }
      .pricingTable-firstTable_table__pricing {
	font-size: 3em;
	padding: 30px 0px;
	border-bottom: 2px solid rgba(182, 182, 182, 0.333);
	line-height: 0.7;
      }
      @media screen and (max-width: 1068px) {
	.pricingTable-firstTable_table__pricing {
	  font-size: 2.8em;
	}
      }
      @media screen and (max-width: 767px) {
	.pricingTable-firstTable_table__pricing {
	  border-bottom: none;
	  padding: 0;
	  float: left;
	  clear: left;
	  width: 33%;
	}
      }
      @media screen and (max-width: 610px) {
	.pricingTable-firstTable_table__pricing {
	  font-size: 2.4em;
	}
      }
      @media screen and (max-width: 480px) {
	.pricingTable-firstTable_table__pricing {
	  float: none;
	  width: 100%;
	  font-size: 3em;
	  margin-bottom: 10px;
	}
      }
      .pricingTable-firstTable_table__pricing span:first-of-type {
	font-size: 0.35em;
	vertical-align: top;
	letter-spacing: 0.15em;
      }
      @media screen and (max-width: 1068px) {
	.pricingTable-firstTable_table__pricing span:first-of-type {
	  font-size: 0.3em;
	}
      }
      .pricingTable-firstTable_table__pricing span:last-of-type {
	vertical-align: bottom;
	font-size: 0.3em;
	letter-spacing: 0.04em;
	padding-left: 0.2em;
      }
      @media screen and (max-width: 1068px) {
	.pricingTable-firstTable_table__pricing span:last-of-type {
	  font-size: 0.25em;
	}
      }
      .pricingTable-firstTable_table__options {
	list-style: none;
	padding: 15px;
	font-size: 0.9em;
	border-bottom: 2px solid rgba(182, 182, 182, 0.333);
      }
      @media screen and (max-width: 1068px) {
	.pricingTable-firstTable_table__options {
	  font-size: 0.85em;
	}
      }
      @media screen and (max-width: 767px) {
	.pricingTable-firstTable_table__options {
	  border-bottom: none;
	  padding: 0;
	  margin-right: 10%;
	}
      }
      @media screen and (max-width: 610px) {
	.pricingTable-firstTable_table__options {
	  font-size: 0.7em;
	  margin-right: 8%;
	}
      }
      @media screen and (max-width: 480px) {
	.pricingTable-firstTable_table__options {
	  font-size: 1.3em;
	  margin-right: none;
	  margin-bottom: 10px;
	}
      }
      .pricingTable-firstTable_table__options > li {
	padding: 8px 0px;
      }
      @media screen and (max-width: 767px) {
	.pricingTable-firstTable_table__options > li {
	  text-align: left;
	}
      }
      @media screen and (max-width: 610px) {
	.pricingTable-firstTable_table__options > li {
	  padding: 5px 0;
	}
      }
      @media screen and (max-width: 480px) {
	.pricingTable-firstTable_table__options > li {
	  text-align: center;
	}
      }
      .pricingTable-firstTable_table__options > li:before {
	content: "✓";
	display: inline-flex;
	margin-right: 15px;
	color: white;
	background-color: #74ce6a;
	border-radius: 50%;
	width: 15px;
	height: 15px;
	font-size: 0.8em;
	padding: 2px;
	align-items: center;
	justify-content: center;
      }
      @media screen and (max-width: 1068px) {
	.pricingTable-firstTable_table__options > li:before {
	  width: 14px;
	  height: 14px;
	  padding: 1.5px;
	}
      }
      @media screen and (max-width: 767px) {
	.pricingTable-firstTable_table__options > li:before {
	  width: 12px;
	  height: 12px;
	}
      }
      .pricingTable-firstTable_table__getstart {
	color: white;
	font-size: 15px;
	font-weight: normal;
	border: 0;
	background-color: rgb(36, 36, 36);
	margin-top: 30px;
	border-radius: 1px;
	cursor: pointer;
	padding: 15px;
	letter-spacing: 0.07em;
	transition: all 0.4s ease;
      }
      @media screen and (max-width: 1068px) {
	.pricingTable-firstTable_table__getstart {
	  font-size: 0.95em;
	}
      }
      @media screen and (max-width: 767px) {
	.pricingTable-firstTable_table__getstart {
	  margin-top: 0;
	}
      }
      @media screen and (max-width: 610px) {
	.pricingTable-firstTable_table__getstart {
	  font-size: 0.9em;
	  padding: 10px;
	}
      }
      @media screen and (max-width: 480px) {
	.pricingTable-firstTable_table__getstart {
	  font-size: 1em;
	  width: 50%;
	  margin: 10px auto;
	}
      }
     
      @media screen and (max-width: 767px) {
	.pricingTable-firstTable_table__getstart:hover {
	  transform: none;
	  box-shadow: none;
	}
      }
      .pricingTable-firstTable_table__getstart:active {
	box-shadow: inset 0 0 10px 1px #66a564, 0px 40px 29px -19px rgba(102, 172, 100, 0.95);
	transform: scale(0.95) translateY(-9px);
      }
      @media screen and (max-width: 767px) {
	.pricingTable-firstTable_table__getstart:active {
	  transform: scale(0.95) translateY(0);
	  box-shadow: none;
	}
      }
      
      
      @media screen and (max-width: 960px) {
	body {
	  font-size: 80%;
	}
      }
      @media screen and (max-width: 776px) {
	body {
	  font-size: 70%;
	}
      }
      @media screen and (max-width: 496px) {
	body {
	  font-size: 50%;
	}
      }
      @media screen and (max-width: 320px) {
	body {
	  font-size: 40%;
	}
      }




/* =================================== */
/* FOOTER SECTION STARTS */
/* =================================== */
.s-5{
	width: 100%;
    }
    footer{
	width: 100%;
	height: 50vh;
	display: flex;
	align-items: center;
	justify-content: space-around;
	background-color: black;
    }
    .foot-logo{
	display: flex;
	width: 200px;
	height: 200px;
    }
    .foot-logo img{
	width: 100%;
    }
    #quick{
	display: flex;
	flex-direction: column;
	list-style: none;
    }
    #quick li{
	margin-bottom: 8%;
    }
    #quick li a{
	text-decoration: none;
	color: white;
    }
    #quick li a:hover{
	text-decoration: underline;
    }
    #contactUs{
	display: flex;
	flex-direction: column;
	list-style: none;
    }
    #contactUs li{
	margin-bottom: 8%;
    }
    #contactUs li a{
	text-decoration: none;
	color: white;
    }
    #contactUs li a:hover{
	text-decoration: underline;
    }
    .lottie{
	display: flex;
    }
    .copyright{
	display: flex;
	width: 100%;
	height: 50px;
	justify-content: center;
	align-items: center;
    }
    /* =================================== */
    /* FOOTER SECTION ENDS */
    /* =================================== */



     /* =================================== */
    /* Akansh ki Media Query ka jaadu */
    /* =================================== */
      
    @media only screen and (min-width: 850px) and (max-width: 1080px){
	.logo{
	    font-size: 1em;
	}
	#nav-list a{
	    font-size: 0.9em;
	}
	header.sticky #nav-list li a{
	    font-size: 0.9em;
	}
}


@media only screen and (min-width: 680px) and (max-width: 850px){
	#nav-list a{
	    font-size: 0.7em;
	}
	header.sticky #nav-list li a{
	    font-size: 0.7em;
	}
	footer{
		height: auto;
		flex-direction: column;
	    }
	    #quick{
		margin-bottom: 50px;
	    }
}
@media only screen and (min-width: 550px) and (max-width: 680px){
	#nav-list a{
	    font-size: 0.5em;
	}
	header.sticky #nav-list li a{
	    font-size: 0.5em;
	}
	footer{
		height: auto;
		flex-direction: column;
	    }
	    #quick{
		margin-bottom: 50px;
	    }
	}

	@media only screen and (min-width: 300px) and (max-width: 550px){
		header{
		  justify-content: flex-start;  
		}
		header.sticky{
		    justify-content: flex-start;
		}
		.nav{
		    width: 60%;
		}
		.logo{
		    font-size: 1em;
		}
		header.sticky .logo{
		    font-size: 1em;
		}
		#nav-list a{
		    font-size: 0.5em;
		}
		header.sticky #nav-list li a{
		    font-size: 0.5em;
		}
	footer{
	    height: auto;
	    flex-direction: column;
	}
	#quick{
	    margin-bottom: 50px;
	}
    }	    
